<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body bgcolor="aquamarine">
    <h1> Flask APP </h1>
    <p1> ok see you </p1>
    <form action="/" method="post">
        <label>ENTER HEIGHT</label>
        <input type="number" name="height" placeholder="enter your height">
        <input type="submit">
    </form>
    <h2>Entered height value is  {{hei}} Inches</h2>
    <h3> weight is {{wei}} pound</h3>
</body>
</html>